.abhaya-libre-extrabold {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-style: normal;
  }
  * {
    font-family: "Abhaya Libre", serif;
  }
  .royal-vision-text {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    filter: drop-shadow(6px 1px 0px #d90b0b);
  }

  .divider-line {
    height: 2px;
    background: white;
    width: 100%;
    max-width: 530px;
    margin: 8px auto 8px;
  }

  .allied-text {
    font-family: "sans-serif";
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    color: white;
    text-transform: none;
  }
  .section-3 {
    background-image: url("img/Sect\ 3\ background.png");
    background-size: cover;
    background-position: center;
    align-items: center;
    max-width: 110%;
 
    
  }

  
  @media (min-width: 768px) {
    .allied-text {
      font-size: 1rem;
    }
  }

  @media (min-width: 1024px) {
    .allied-text {
      font-size: 1.5rem;
    }
  }
 